@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #13ad4d;
  border-bottom: 2px solid #fdc700;
}

/* Hide scrollbars for category pills */
.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
